.nav {
      grid-area: nav;
      background-color: rgb(100, 158, 0);
      padding: 10px;
}

.item a {
      color: aliceblue;
      text-decoration: none;
}

/* .item .active a:focus {
      color: rgb(255, 255, 6);
      text-decoration: underline;
} */

.active a {
      color: rgb(255, 255, 6);
}
