.nav {
      grid-area: nav;
      background-color: rgb(100, 158, 0);
      padding: 20px;
}

.item a {
      color: rgb(255, 255, 255);
      text-decoration: none;
}

.item a:focus {
      color: rgb(255, 255, 6);
      text-decoration: underline;
}
